.description {
    text-align: justify;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.description p {
    line-height: 0.7;
    font-size: 14px; /* Cambia el tamaño de la fuente aquí */
}

.location-email, .social-links {
    text-align: center;
}

.location-email p {
    display: block;
    margin: 0 auto;
}

.social-links a {
    display: inline-block;
    margin: 0 5px;
}

a.button-link {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #1e90ff;
    border-radius: 5px;
    color: #1e90ff;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s;
}

a.button-link:hover {
    background-color: #1e90ff;
    color: #121212;
}
h1:not(.portfolio-title) {
    text-align: center;
}
.column:last-child header h1 {
    text-align: left;
}
