.location-email, .social-links {
    text-align: center;
}

.location-email p {
    display: block;
    margin: 0 auto;
}

.social-links a {
    display: inline-block;
    margin: 0 5px;
}
h1:not(.portfolio-title) {
    text-align: center;
}
.column-2 h1 {
    text-align: left;
}
